{erl_opts, [{debug_info, parse_transform, lager_transform}]}.
{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", "2.7.0"}
    },
    {'lager', "3.8.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlang1]}
]}.

{relx, [
  {release, {"prod", "1.1"},
  ["erlang1"]},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}
]}.